/************ Table ************/

.bbit-grid table
{
	width: 100%;
	border-collapse: collapse;
}

.bbit-grid table thead th
{
	font-weight: bold;
	font-size: 14px;
	border-bottom: 1px solid #ddd;
}

.bbit-grid tbody
{
	border-bottom: 1px solid #ddd;
}

.bbit-grid tbody tr
{
	background: #f3f3f3;
}

.bbit-grid tbody tr.erow
{
	background: #fff;
}

.bbit-grid tbody tr.selectrow
{
	background: #57a000;
}

.bbit-grid table td, .bbit-grid table th
{
	padding: 5px;
	line-height: 1.3em;
}

.bbit-grid table th
{
	text-align: center;
	padding: 5px 0 0 0;
}

.bbit-grid table th.desc
{
	background: url(images/gridview/sort_desc.gif) no-repeat center top;
}

.bbit-grid table th.asc
{
	background: url(images/gridview/sort_asc.gif) no-repeat center top;
}

/*************** Pagination ***************/
.pager
{
	padding: 3px 0 5px 0;
	font-size: 12px;
}
.pager a, .pager span.current
{
	margin: 0 5px 0 0;
	padding: 3px 6px;
}

.pager a.pagerLink, .pager a.ajax-pagerLink
{
	border: 1px solid #ddd;
}

.pager a.current, .pager span.current
{
	background: #469400 url(images/gridview/pager-link.gif) top left repeat-x !important;
	border-color: #459300 !important;
	color: #fff !important;
}
