<?xml version="1.0" encoding="utf-8" ?>
<jobs>
  <job>
    <name>demoJob</name>
    <description>Demo Job</description>
    <type>{ClassFullName},{AssemblyName}</type>
    <method>Test</method>
    <runMode>Singleton</runMode>
    <enable>true</enable>
    <schedule>10*2</schedule>
  </job>
</jobs>
